<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Forum&family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
        <title>Book reviews</title>
    </head>
    <body>
        <header>
            <h1 class="heading forum-regular">Book reviews</h1>
            <div id="beginningForms">
                <form action="/add" method="post">
                    <button type="submit" class="btn btn-secondary rubik-font">Add review</button>
                </form>
                <form action="/order" method="post" >
                    <label for="selectOrder" class="rubik-font">Order by:</label>
                    <select id="selectOrder" name="option" >
                        <option value="" disabled selected></option>
                        <option value="Recency" class="rubik-font">Most recent</option>
                        <option value="Rating" class="rubik-font">Rating</option>
                    </select>
                </form>
            </div>
        </header>
        <main id="main">

